<div class="add-task">
  <div class="body-title">
    <div class="title">Add Task</div>
    <div class="close-icon" (click)="changeShowPopup()">
      <i><span style="font-size: 40px; font-weight: 600; color: rgba(255, 0, 0, 0.5); cursor: pointer; line-height: 0;"
          class="material-icons close">close</span></i>
    </div>
  </div>
  <div class="row mt-1" style="height: 42vh; overflow: hidden auto; flex: 10;">
    <div class="mx-auto col-md-12 mt-5" style="width: fit-content;">
      <div class="row">
        <div class="col-md-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Task Name</mat-label>
            <input matInput name="taskName" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Task Description</mat-label>
            <input matInput name="taskDesc" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>Status</mat-label>
            <mat-select>
              <mat-option value="">
                Select status
              </mat-option>
              <mat-option value="1">
                done
              </mat-option>
              <mat-option value="0">
                not done
              </mat-option>
              <mat-option value="-1">
                pending
              </mat-option>
              <!-- <mat-option *ngFor="let obj of statesList" [value]="obj.id">
                {{obj.name}}
              </mat-option> -->
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-12"> -->
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>Comments</mat-label>
          <input matInput name="comment" autocomplete="off">
        </mat-form-field>
        <!-- </div> -->
      </div>
    </div>
  </div>
  <div class="col-md-12 pr-5 btns" style="margin: 30px auto;">
    <button style="width: 120px; float: right;" class="btn primary">Create</button>
  </div>
</div>
